.typography {
    &-h1 {
        font-size: 2rem;
    }

    &-h2 {
        font-size: 1.75rem;
    }

    &-p, &-div {
        font-size: 1.125rem;
    }

    &-span, &-a {
        font-size: 1rem;
    }

}
